{% extends "layout.html" %}

{% block content %}

<div class="card" style="width: 50rem; margin: 0 auto; margin-top: 20px;">
    <div class="card-header" style="background-color: #4A3386; text-align: center;">
        <h4 style="color: #FFCA08"> B2B Util </h4>
    </div>
    <div class="card-body">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <div class="form-group">
                        {{ form.schema.label}}
                        {% if form.schema.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.schema.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {{ form.schema (id="schema")}}
                        {% else %}
                        {{ form.schema (id="schema")}}
                        {% endif %}
                </div>
                <div class="form-group">
                        {{ form.environment.label}}
                        {% if form.environment.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.environment.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {{ form.environment }}
                        {% else %}
                        {{ form.environment}}
                        {% endif %}
                </div>
                <div class="form-group" id="date" style="display: none">
                        {{ form.date.label}}
                        {% if form.date.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.date.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {{ form.date }}
                        {% else %}
                        {{ form.date}}
                        {% endif %}
                </div>
                <div class="form-group" id="start_time" style="display: none">
                    {{ form.start_time.label }} <br>
                    {{ form.start_time }}
                </div>
                <div class="form-group" id="end_time" style="display: none">
                    {{ form.end_time.label }} <br>
                    {{ form.end_time }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.execute(id="exec") }}
                <input type="reset" value="Reset">
                <div id="bulk-spinner" class="spinner-grow" role="status" style="display: none"></div>
            </div>
        </form>
    </div>
</div>

<script>
    var dateField = $("#date")
    var startTime = $("#start_time")
    var endTime = $("#end_time")
    var schema = $("#schema")

    schema.on("change", function () {
        if (schema.val() === 'rangeDateTransaction') {
            dateField.show();
        } else if (schema.val() === 'rangeDateTimeTransaction') {
            dateField.show();
            startTime.show();
            endTime.show();
        } else {
            dateField.hide();
            startTime.hide();
            endTime.hide();
        }
    })

    $(function () {
        if (schema.val() === 'rangeDateTransaction') {
            dateField.show();
        } else if (schema.val() === 'rangeDateTimeTransaction') {
            dateField.show();
            startTime.show();
            endTime.show();
        } else {
            dateField.hide();
            startTime.hide();
            endTime.hide();
        }
    })

</script>

{% endblock content %}