{% extends "baselayout.html" %}

{% block base %}
<nav class="navbar" style="background-color: #4A3386;">
    <a class="navbar-brand" style="color: #FFCA08" href="{{ url_for('index')}}">Orak</a>

    <ul class="nav nav-pills nav-fill">
        {% if access_token %}
        <li class="nav-item active">
            <a class="nav-link" style="color: #FFCA08" href="{{ url_for('home')}}"> Hello {{ full_name }} </a>
        </li>
        <li class="nav-item">
                <a class="nav-link" style="color: #FFCA08" href="{{ url_for('b2bhome')}}">Switch to B2B</a>
            </li>
        <li class="nav-item">
            <a class="nav-link" style="color: #FFCA08" href="{{ url_for('logout')}}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" style="color: #FFCA08" href="{{ url_for('login')}}"> Switch to eCommerce </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock base %}

{% block content %} {% endblock content %}